.certificacoes{
  background: linear-gradient(to right, #dde9ff 0%,#dde9ff00 250%);
  border-radius: 4px;
  padding: 60px 30px 150px 30px;
  margin-bottom: 100px;
}
.certificacoes h1{
  margin-bottom: 2rem;
}
.conteudo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.texto{
  max-width: 600px;
}
.carrocel{
  display: flex;
  gap: 40px;
  max-width: 600px;
}
.carrocel img{
  max-width: 250px;
}


@media (max-width: 1200px ) {
    .conteudo {
      flex-direction: column;
    }
    .carrocel{
      margin-top: 2rem;
    }
    .conteudo p{
      text-align: start;
    }
    .conteudo strong{
      display: block;
      margin-top: 2rem;
    }
}
@media (max-width: 1200px) {
  .texto{
    max-width: 100%;
  }
  .carrocel{
    max-width: 100%;
  }
}
@media (max-width: 800px){
  .carrocel{
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .carrocel img{
    max-width: 300px;
  }
  .certificacoes h1{
    font-size: 2rem;
  }
}