.experiencia {
  margin-bottom: 100px;
}
.experiencia h1 {
  margin-bottom: 3rem;
}
.projetos {
  display: grid;
  grid-template-columns: 1fr 24% 24%;
  gap: 40px;
}
.essencial {
  background: linear-gradient(to bottom, #47da4460 0%, #eee 100%);
  padding: 40px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 600px;
}

.essencial h2 {
  max-width: 370px;
  font-weight: bold;
  font-family: "Poppins";
  font-weight: bold;
}

.printew {
  position: absolute;
  right: 40px;
  bottom: -320px;
  transition: 0.5s;
  cursor: pointer;
}
.essencial:hover .printew {
  bottom: -290px;
}

.rbb {
  position: relative;
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: .5s;
}
.rbb img {
  transform: rotate(-45deg);
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  right: -110px;
  top: 10px;
  transition: 1s;
}
.rbb h2{
  font-family: 'Poppins';
  margin-bottom: 0;
}
.rbb p {
  font-family: "Open sans";
  font-weight: bold;
  color: #aaa;
}
.rbb:hover{
  background: #222;
}
.rbb:hover .rbbh2{
  color: #fff;
}
.snj{
  padding: 30px;
  overflow: hidden;
  position: relative;
  transition: .5s;
}
.snj h2{
  font-family: 'Poppins';
  margin-bottom: 0;
}
.snj p{
  font-family: 'Open sans';
  font-weight: bold;
  color: #aaa;
}
.snj img{
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
}
.snj:hover {
  background: #222;
}
.snj:hover .snjh2{
  color: #fff;
}
.rbb,
.snj {
  background: #eee;
  border-radius: 4px;
}

.animarExperiencias{
  transform: translateX(60px);
  opacity: 0;
  animation: animeRight .5s forwards;
}
@keyframes animeRight {
  to{
    transform: translateX(0);
    opacity: initial;
  }
}

@media (max-width: 1200px) {
  .projetos{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30% 30%;
  }
  .rbb p,
  .snj p{
    text-align: start;
    max-width: 500px;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px){
  .essencial h2{
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .projetos{
    gap: 60px;
  }
  .rbb, 
  .snj{
    height: 600px;
  }
  .essencial{
    height: 700px;
  }
}