.footerBg{
  background: #eee;
  border-top: 1px solid #ddd;
}

.footer {
  display: flex;
  align-items: center start;
  justify-content: space-around;
  background: #eee;
  padding: 1rem;
}
.itemSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  text-align: center;
  padding-top: 24px;
}
.itemSlogan img {
  width: 3rem;
  margin-bottom: 6.5px;
}
.itemSlogan p,
.item li {
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 1rem;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.item ul {
  padding: 0;
}
.item li {
  margin-bottom: 10px;
}
.item a:hover {
  color: #888;
  transform: translateX(30px);
}

.copy {
  font-family: "Open Sans";
  text-align: center;
  padding-bottom: 1rem;
}
.redes {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
