.habilidades {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 100px;
  justify-content: space-between;
}
.habilidadesTitulo,
.habilidades{
  transform: translateX(60px);
  opacity: 0;
  animation: animeRight .5s forwards;
}

@keyframes animeRight {
 to{
  transform: translateX(0);
  opacity: initial;
 }
}
.titulo {
  margin-bottom: 3rem;
}

.gridItems {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
  max-width: 680px;
}.gridItems p {
  color: #999;
}

.infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #ffc8e6 0%, #f8f8f800 150%);
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
}
.infoCard h3 {
  font-size: 2rem;
  margin-bottom: 4rem;
}
.infoCard p {
  margin-bottom: 2rem;
  max-width: 380px;
}
.infoCard button {
  place-self: center;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .habilidades {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .gridItems{
    max-width: 100%;
  }
  .gridItems p {
    text-align: start;
  }
  .infoCard{
    padding: 2rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .gridItems {
    grid-template-columns: 1fr;
  }
  .infoCard {
    padding: 3rem;
  }
  .titulo{
    font-size: 2rem;
  }
  .infoCard h3{
    font-size: 1.5rem;
  }
}
